<div
  style="
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <div style="height: 50vh; width: 50vw">
    <div
      class="container"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutWrap
      fxLayoutGap="0"
      fxLayoutAlign="center"
    >
      <div fxFlex="100%" fxLayout="column" fxLayoutAlign="space-around center">
        <div fxFlex="100%">
          <p style="text-align: center">Đăng nhập</p>
        </div>
        <div fxFlex="100%">
          <img src="assets/images/login.svg" style="width: 300px" />
        </div>
      </div>
    </div>
  </div>
</div>
